<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972297983703-gfbic9hsobai4n00oopbfo92ponofnb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972297983703-gfbic9hsobai4n00oopbfo92ponofnb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCIrY9rTS8l64WKHsHvnH3kYYe4pdl4xkk</string>
	<key>GCM_SENDER_ID</key>
	<string>972297983703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.2021.k029.yama.dish-management-new</string>
	<key>PROJECT_ID</key>
	<string>dish-management-new</string>
	<key>STORAGE_BUCKET</key>
	<string>dish-management-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972297983703:ios:61f618854de3dcd7e74292</string>
</dict>
</plist>